body {
    background-color: antiquewhite;
    color: black;
}

h1 {
    font-family: Rockwell, sans-serif, serif;
}

h3 {
    font-family: Garamond, Times, serif;
    text-shadow: 1px 1px;
}

ul {
    list-style-type: none;
}

.darkMode {
    background-color: black;
    color: antiquewhite;
    }

.dropdown-menu {
    overflow-y: auto;
}

.champName {
    font-family: Papyrus, sans-serif, serif;
    text-shadow: 1px 1px 1px black;
}

.card-header, .card-body {
    border-style: solid;
    border-color: white;
    text-shadow: 1px 1px whitesmoke;
}

.AD {
    background-color: rgb(124, 33, 33);
    text-shadow: 1px 1px red;
}

.AP {
    background-color: rgb(60, 60, 196);
    text-shadow: 1px 1px blue;
}

.DEF {
    background-color: rgb(20, 121, 20);
    text-shadow: 1px 1px green;
}
