body {
    background-color: antiquewhite;
    color: black;
}

ul {
    list-style-type: none;
}

.card-header, .card-body {
    border-style: solid;
    border-color: white;
}

.darkMode {
    background-color: black;
    color: antiquewhite;
    }
